<p style="text-align: center; margin: 0 0 24px;">
	<a href="{{ login_url }}" style="text-decoration: none;">
		<img
			src="{{ logo_url }}"
			alt="{{ site_name | e }}"
			width="160"
			style="max-width: 160px; height: auto; display: block; margin: 0 auto;"
		/>
	</a>
</p>

<p>
	{{ _("Hello") }} {{ first_name | e }}{% if last_name %} {{ last_name | e }}{% endif %},
</p>

<p>
	{{ _("You have been invited as a booking agent on {0}.").format(site_name | e) }}
</p>

<p>{{ _("Your portal login email is") }}: <b>{{ user | e }}</b></p>
{% if username and username != user %}
<p>{{ _("Your username is") }}: <b>{{ username | e }}</b></p>
{% endif %}

<p>
	{{ _("Click the button below to set your password and activate your account.") }}
</p>

<p style="margin: 15px 0px;">
	<a href="{{ link }}" rel="nofollow" class="btn btn-primary">{{ _("Set password & activate") }}</a>
</p>

<p>
	{{ _("After setting your password, sign in at") }}
	<a href="{{ login_url }}">{{ login_url }}</a>.
</p>

{% if created_by and created_by != "Administrator" %}
<p style="margin-top: 15px">
	{{ _("Thanks") }},<br>
	{{ created_by | e }}
</p>
{% endif %}

<p style="margin-top: 15px">
	{{ _("You can also copy and paste this link into your browser") }}:<br>
	<a href="{{ link }}">{{ link }}</a>
</p>
